# Directories
bin/other/**/
bin/other/*.*
bin/test_resources/*.*
bin/userdata/*.*
!bin/other/version.txt
*/doc/**/
*/obj/**/
obj/*
.vs/**/
documentation/**/
Uploads/*.*
Uploads/**/
TowerDefense2D/**/Backup/
install/**/

# Directory Files
*/doc/**/*.*
*/obj/**/*.*
.vs/**/*.*
documentation/*.*
*/stdafx.*

# File Types
*.suo
*.exp
*.lastcodeanalysis*
*.obj
*.exe
*.pdb
*.xml
*.idb
*.iobj
*.ipdb
*.log
*.pdf
*.vspx
*.diagsession
*.psess
*.png
*.gif
*.jpeg
*.aps
*.docx
*.xlst
*.doc
*.xlsx
*.dat
*.msi
*.sqlite
*.ruleset
*.props
*.cso
*.dll
*.lib
*.ilk

StyleCop.Cache
style_guide.html

!install/*.*
!install/docs/
install/*.exe
install/*.msi