# Directories
bin/other/todo_list.txt
bin/other/bug_list.txt
bin/test_resources/*.*
bin/userdata/*.*
bin/screenshots/*.*
!bin/other/version.txt
*/doc/**/
*/obj/**/
obj/*
.vs/**/
documentation/**/
Uploads/*.*
Uploads/**/
TowerDefense2D/**/Backup/
install/**/
frequencies/*
frequencies/**/
notes/*
notes/**/

# Directory Files
*/doc/**/*.*
*/obj/**/*.*
.vs/**/*.*
documentation/*.*
*/stdafx.*

# File Types
*.suo
*.exp
*.lastcodeanalysis*
*.obj
*.exe
*.pdb
*.xml
*.idb
*.iobj
*.ipdb
*.log
*.pdf
*.vspx
*.diagsession
*.psess
*.png
*.gif
*.jpeg
*.aps
*.docx
*.xlst
*.doc
*.xlsx
*.dat
*.msi
*.sqlite
*.ruleset
*.props
*.cso
*.dll
*.lib
*.ilk
*.smproj

StyleCop.Cache
style_guide.html

!install/*.*
!install/docs/
install/*.exe
install/*.msi