# Directories
bin/*
*/doc/**/
*/obj/**/
.vs/**/
documentation/**/
Uploads/*.*
Uploads/**/
TowerDefense2D/**/Backup/
install/**/

# Directory Files
*/doc/**/*.*
*/obj/**/*.*
.vs/**/*.*
documentation/*.*

# File Types
*.suo
*.obj
*.exe
*.pdb
*.xml
*.idb
*.iobj
*.ipdb
*.log
*.pdf
*.vspx
*.diagsession
*.psess
*.png
*.gif
*.jpeg
*.aps
*.docx
*.xlst
*.doc
*.xlsx
*.dat
*.msi
*.sqlite
*.ruleset
*.props

!install/*.*
!install/docs/
install/*.exe
install/*.msi